body {
    font-family: Arial, sans-serif;
    background-color: #0b0f19;
    color: white;
    margin: 0;
    text-align: center;
}

header {
    background-color: #111827;
    padding: 40px;
}

h1 {
    color: #00ff99;
}

.intro {
    margin: 40px;
}

.links a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background: #1f2937;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

.links a:hover {
    background: #00ff99;
    color: black;
}

footer {
    margin-top: 50px;
    padding: 20px;
    background: #111827;
}
